:root {
  --text-header: rgb(118, 35, 0);
  --text: rgb(0, 0, 0);
}

.card-carousel {
display: flex;

  div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.unstyled-link {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}